body *{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    background-color: rgb(202, 202, 202);
}
main,footer{
    position:relative;
    top: 190px;
}
main section ul{
    padding: 5%;
    margin: 5%;
    font-weight: bold;
    list-style-type: none;
}
main section ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgb(32, 31, 31);
    color: white;
    width: 60%;
    height: 50px;
    border-right: 5px rgb(32, 31, 31) solid;
    padding-left: 20px;
}
main section ul li progress{
    height: 30px;
    background-color: rgb(202, 202, 202);
    width: 500px;
}
main section ul li span{
    color: #a09ff8;
}
main{
    display: grid;
    display: grid;
}
main section.services{
    margin: 5% auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: rgb(202, 202, 202);
    background-color: rgb(32, 31, 31);
    padding: 5%;
}
main section.services h2{
    margin: 5%;
    margin-top: 0;
    font-size: 50px;
    font-family: "Segoe UI Black";
    color: #c3c2fb;
}
@media screen and (max-width:1200px) {
    main,footer{
        top: 80px;
    }
    main{
        display: flex;
        flex-flow: column;
        align-content: space-around;
        margin-bottom: 50px;
    }
    main ul{
        width: 100%;
    }
    main section ul li progress{
        width: 400px;
    }
}
@media screen and (max-width:909px){
    main section ul li progress{
        width: 200px;
    }
}
@media screen and (max-width:500px) {
    main{
        display: flex;
        flex-flow: column;
    }
    main section ul{
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
    }
    main section ul li progress{
        width: 150px;
    }
    main section ul li{
        width: 90%;
    }
}